In [5]:
import os; os.chdir('/Users/sarahrandall/Python-outbreak-info/src/outbreak_data')
print(os.getcwd())

/Users/sarahrandall/Python-outbreak-info/src/outbreak_data

In [6]:
from outbreak_data import outbreak_data
from outbreak_data.authenticate_user import set_authentication


outbreak_data.print_reqs = True

In [2]:
import auth_token

from outbreak_data.authenticate_user import set_authentication
set_authentication(auth_token.get_auth_token())

In [3]:
outbreak_data.wildcard_mutations('s:e484*')

GET https://api.outbreak.info/genomics/mutation-details?mutations=s:e484*

,type,gene,ref_codon,pos,alt_codon,is_synonymous,ref_aa,codon_num,alt_aa
mutation,,,,,,,,,
S:E484L,substitution,S,GAA,23012,CTT,False,E,484,L
S:E484A,substitution,S,GAA,23013,GCC,False,E,484,A
S:E484R,substitution,S,GAA,23012,AGG,False,E,484,R
S:E484V,substitution,S,GAA,23012,GTG,False,E,484,V
S:E484T,substitution,S,GAA,23012,ACA,False,E,484,T
S:E484D,substitution,S,GAA,23012,GAC,False,E,484,D
S:E484H,substitution,S,GAA,23013,CAT,False,E,484,H
S:E484K,substitution,S,GAA,23013,AAG,False,E,484,K
S:E484Q,substitution,S,GAA,23011,CAA,False,E,484,Q
S:E484I,substitution,S,GAA,23011,ATA,False,E,484,I

In [4]:
outbreak_data.wildcard_lineage('*.86.*')

GET https://api.outbreak.info/genomics/lineage?name=*.86.*

           total_count
name
ba.2.86.1        10791
ba.2.86.3          351
ba.2.86.2          318
ba.2.86.5           38
ba.2.86.4           10

In [5]:
outbreak_data.wildcard_location('*awai*')

GET https://api.outbreak.info/genomics/location?name=*awai*

,country,country_id,division,division_id,label,admin_level,total_count,location,location_id
id,,,,,,,,,
USA_US-HI,United States,USA,Hawaii,HI,"Hawaii, United States",1,28246,NaN,NaN
USA_US-HI_15001,United States,USA,Hawaii,HI,"Hawaii, Hawaii, United States",2,3316,Hawaii,15001
IND_IN-RJ_SM,India,IND,Rajasthan,RJ,"Sawai Madhopur, Rajasthan, India",2,138,Sawai Madhopur,SM

In [6]:
print(outbreak_data.cases_by_location(['USA_US-HI', 'USA_US-KY'], 2))

GET https://api.outbreak.info/covid19/query?q=location_id:(USA_US-HI OR USA_US-KY)&sort=date&fields=date,admin1,confirmed_numIncrease, confirmed_rolling&fetch_all=true
GET https://api.outbreak.info/covid19/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDnF1ZXJ5VGhlbkZldGNoAxZKcXVNTUIya1JDR0FvOFhGQWxMakJ3AAAAAA0ra80WUmFoc1VXdGlRX1dJMk9OTDktVFFfdxZQV0QtRi1JTlJ3dU5iMUM2OEVPbG5RAAAAAAqq6kkWMmlqOHk0N2xSN2FidFptVEllNmxvZxZmU1FLVi10M1NKdWdqN3VVQUtLLTFBAAAAAApQkHMWc0hMeURPR1VUMW1PTlZ1cUxwVXBTUQ==&fetch_all=true&page=0&fetch_all=true
GET https://api.outbreak.info/covid19/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDnF1ZXJ5VGhlbkZldGNoAxZKcXVNTUIya1JDR0FvOFhGQWxMakJ3AAAAAA0ra80WUmFoc1VXdGlRX1dJMk9OTDktVFFfdxZQV0QtRi1JTlJ3dU5iMUM2OEVPbG5RAAAAAAqq6kkWMmlqOHk0N2xSN2FidFptVEllNmxvZxZmU1FLVi10M1NKdWdqN3VVQUtLLTFBAAAAAApQkHMWc0hMeURPR1VUMW1PTlZ1cUxwVXBTUQ==&fetch_all=true&page=1&fetch_all=true
GET https://api.outbreak.info/covid19/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDnF1ZXJ5VGhlbkZldGNoAxZKcXVNTUIya1JDR0FvOFhGQWxMakJ3AAAAAA0ra80WUmFoc1VXdGlRX1dJMk9OTDktVFFfdxZQV0QtRi1JTlJ3dU5iMUM2OEVPbG5RAAAAAAqq6kkWMmlqOHk0N2xSN2FidFptVEllNmxvZxZmU1FLVi10M1NKdWdqN3VVQUtLLTFBAAAAAApQkHMWc0hMeURPR1VUMW1PTlZ1cUxwVXBTUQ==&fetch_all=true&page=2&fetch_all=true
                              confirmed_numIncrease  confirmed_rolling
location          date
USA_Hawaii_None   2020-02-12                      0           0.000000
                  2020-02-13                      0           0.000000
                  2020-02-14                      0           0.000000
                  2020-02-15                      0           0.000000
                  2020-02-16                      0           0.000000
...                                             ...                ...
USA_Kentucky_None 2023-03-04                      0         748.857117
                  2023-03-05                      0         748.857117
                  2023-03-06                      0          66.285713
                  2023-03-07                      0          66.285713
                  2023-03-08                   4787         750.142883

[2242 rows x 2 columns]

In [7]:
outbreak_data.most_recent_cl_data('ba.2.86.1', location='USA_US-HI')

GET https://api.outbreak.info/genomics/most-recent-collection-date-by-location?pangolin_lineage=ba.2.86.1&location_id=USA_US-HI

Timestamp('2024-01-04 00:00:00')

In [8]:
outbreak_data.daily_lag(location='USA_US-HI')

GET https://api.outbreak.info/genomics/collection-submission?location_id=USA_US-HI

                               total_count
date_collected date_submitted
2020-03-05     2020-04-16                1
2020-03-07     2020-04-16                1
2020-03-11     2020-12-31                1
2020-03-12     2020-06-16                2
               2020-12-31                1
...                                    ...
2024-03-27     2024-04-15                1
2024-04-03     2024-04-28                1
2024-04-04     2024-04-28                1
2024-04-07     2024-04-28                1
2024-04-08     2024-04-28                1

[5763 rows x 1 columns]

In [9]:
outbreak_data.sequence_counts('USA_US-HI', sub_admin=True)

GET https://api.outbreak.info/genomics/sequence-count?&cumulative=true&subadmin=true&location_id=USA_US-HI

                 total_count
location_id
USA_US-HI_15003        13837
USA_US-HI_15009         3662
USA_US-HI_15001         3316
USA_US-HI_15007          855
USA_US-HI_15005            3

In [10]:
outbreak_data.sequence_counts('USA_US-HI')

GET https://api.outbreak.info/genomics/sequence-count?&cumulative=false&subadmin=false&location_id=USA_US-HI

            total_count
date
2020-03-05            1
2020-03-07            1
2020-03-11            1
2020-03-12            3
2020-03-13            1
...                 ...
2024-03-27            1
2024-04-03            1
2024-04-04            1
2024-04-07            1
2024-04-08            1

[1330 rows x 1 columns]

In [11]:
outbreak_data.known_mutations('BA.2.86.1', descendants=True)

GET https://api.outbreak.info/genomics/lineage-mutations?lineages=None&q=pangolin_lineage_crumbs:*;BA.2.86.1;*&frequency=0.8

,mutation_count,lineage_count,lineage,gene,ref_aa,alt_aa,codon_num,codon_end,type,prevalence,change_length_nt
mutation,,,,,,,,,,,
orf1b:r1315c,10777,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,ORF1b,R,C,1315,NaN,substitution,0.998703,NaN
orf1b:p314l,10767,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,ORF1b,P,L,314,NaN,substitution,0.997776,NaN
orf1a:p3395h,10762,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,ORF1a,P,H,3395,NaN,substitution,0.997313,NaN
e:t9i,10755,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,E,T,I,9,NaN,substitution,0.996664,NaN
s:a570v,10750,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,S,A,V,570,NaN,substitution,0.996201,NaN
...,...,...,...,...,...,...,...,...,...,...,...
m:t30a,9224,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,M,T,A,30,NaN,substitution,0.854786,NaN
s:r21t,9148,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,S,R,T,21,NaN,substitution,0.847743,NaN
s:r403k,8865,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,S,R,K,403,NaN,substitution,0.821518,NaN
s:del25/27,8810,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,S,S:DEL25/27,DEL25/27,25,27.0,deletion,0.816421,9.0
s:l24s,8793,10791,pangolin_lineage_crumbs:*;BA.2.86.1;*,S,L,S,24,NaN,substitution,0.814846,NaN

In [12]:
outbreak_data.known_mutations(['BA.1', 'BA.2'])

GET https://api.outbreak.info/genomics/lineage-mutations?pangolin_lineage=BA.1 OR BA.2&frequency=0.8

,mutation_count,lineage_count,lineage,gene,ref_aa,alt_aa,codon_num,codon_end,type,prevalence,change_length_nt
mutation,,,,,,,,,,,
s:d614g,1655429,1658916,BA.1 OR BA.2,S,D,G,614,NaN,substitution,0.997898,NaN
s:h655y,1653849,1658916,BA.1 OR BA.2,S,H,Y,655,NaN,substitution,0.996946,NaN
orf1b:p314l,1652421,1658916,BA.1 OR BA.2,ORF1b,P,L,314,NaN,substitution,0.996085,NaN
s:n679k,1651124,1658916,BA.1 OR BA.2,S,N,K,679,NaN,substitution,0.995303,NaN
s:n969k,1648423,1658916,BA.1 OR BA.2,S,N,K,969,NaN,substitution,0.993675,NaN
orf1a:p3395h,1647871,1658916,BA.1 OR BA.2,ORF1a,P,H,3395,NaN,substitution,0.993342,NaN
s:q954h,1647064,1658916,BA.1 OR BA.2,S,Q,H,954,NaN,substitution,0.992856,NaN
s:p681h,1645263,1658916,BA.1 OR BA.2,S,P,H,681,NaN,substitution,0.991770,NaN
orf1a:t3255i,1645120,1658916,BA.1 OR BA.2,ORF1a,T,I,3255,NaN,substitution,0.991684,NaN
e:t9i,1643495,1658916,BA.1 OR BA.2,E,T,I,9,NaN,substitution,0.990704,NaN
s:d796y,1637319,1658916,BA.1 OR BA.2,S,D,Y,796,NaN,substitution,0.986981,NaN
m:a63t,1633349,1658916,BA.1 OR BA.2,M,A,T,63,NaN,substitution,0.984588,NaN
n:p13l,1631040,1658916,BA.1 OR BA.2,N,P,L,13,NaN,substitution,0.983196,NaN
orf8:s84l,1622008,1658916,BA.1 OR BA.2,ORF8,S,L,84,NaN,substitution,0.977752,NaN
n:g204r,1614684,1658916,BA.1 OR BA.2,N,G,R,204,NaN,substitution,0.973337,NaN
n:r203k,1612916,1658916,BA.1 OR BA.2,N,R,K,203,NaN,substitution,0.972271,NaN
orf1b:i1566v,1605838,1658916,BA.1 OR BA.2,ORF1b,I,V,1566,NaN,substitution,0.968004,NaN
s:g142d,1599763,1658916,BA.1 OR BA.2,S,G,D,142,NaN,substitution,0.964342,NaN
s:g339d,1587661,1658916,BA.1 OR BA.2,S,G,D,339,NaN,substitution,0.957047,NaN
n:del31/33,1571372,1658916,BA.1 OR BA.2,N,N:DEL31/33,DEL31/33,31,33.0,deletion,0.947228,9.0
s:n764k,1566178,1658916,BA.1 OR BA.2,S,N,K,764,NaN,substitution,0.944097,NaN
m:q19e,1554264,1658916,BA.1 OR BA.2,M,Q,E,19,NaN,substitution,0.936915,NaN
s:s373p,1552801,1658916,BA.1 OR BA.2,S,S,P,373,NaN,substitution,0.936034,NaN
s:s375f,1547588,1658916,BA.1 OR BA.2,S,S,F,375,NaN,substitution,0.932891,NaN
s:t478k,1529842,1658916,BA.1 OR BA.2,S,T,K,478,NaN,substitution,0.922194,NaN
s:e484a,1527482,1658916,BA.1 OR BA.2,S,E,A,484,NaN,substitution,0.920771,NaN
s:s477n,1526742,1658916,BA.1 OR BA.2,S,S,N,477,NaN,substitution,0.920325,NaN
s:q493r,1503688,1658916,BA.1 OR BA.2,S,Q,R,493,NaN,substitution,0.906428,NaN
s:n501y,1487229,1658916,BA.1 OR BA.2,S,N,Y,501,NaN,substitution,0.896507,NaN
s:y505h,1487126,1658916,BA.1 OR BA.2,S,Y,H,505,NaN,substitution,0.896444,NaN
s:q498r,1481837,1658916,BA.1 OR BA.2,S,Q,R,498,NaN,substitution,0.893256,NaN
s:k417n,1416751,1658916,BA.1 OR BA.2,S,K,N,417,NaN,substitution,0.854022,NaN
s:n440k,1328477,1658916,BA.1 OR BA.2,S,N,K,440,NaN,substitution,0.800810,NaN

In [13]:
outbreak_data.mutation_prevalences(['orf1b:r1315c', 's:l24s'], pango_lin='BA.2')

GET https://api.outbreak.info/genomics/mutations-by-lineage?mutations=orf1b:r1315c, s:l24s&pangolin_lineage=BA.2

,pangolin_lineage,lineage_count,mutation_count,proportion,proportion_ci_lower,proportion_ci_upper
query,,,,,,
s:l24s,ba.2,1224350,1143565,0.934018,0.933577,0.934457
orf1b:r1315c,ba.2,1224350,1218926,0.995570,0.995451,0.995686

In [14]:
outbreak_data.lineage_cl_prevalence('BA.2.86.1', descendants=True)

GET https://api.outbreak.info/genomics/prevalence-by-location?lineages=None&q=pangolin_lineage_crumbs:*;BA.2.86.1;*&cumulative=false

,,total_count,lineage_count,total_count_rolling,lineage_count_rolling,proportion,proportion_ci_lower,proportion_ci_upper
date,query,,,,,,,
2023-01-17,pangolin_lineage_crumbs:*;BA.2.86.1;*,7437,1,6705.571429,0.142857,0.000021,7.322043e-08,0.000374
2023-01-18,pangolin_lineage_crumbs:*;BA.2.86.1;*,6992,0,6533.285714,0.142857,0.000022,7.515931e-08,0.000384
2023-01-19,pangolin_lineage_crumbs:*;BA.2.86.1;*,5746,0,6343.428571,0.142857,0.000023,7.741056e-08,0.000396
2023-01-20,pangolin_lineage_crumbs:*;BA.2.86.1;*,5145,0,6100.285714,0.142857,0.000023,8.049417e-08,0.000412
2023-01-21,pangolin_lineage_crumbs:*;BA.2.86.1;*,3359,0,5995.714286,0.142857,0.000024,8.189027e-08,0.000419
...,...,...,...,...,...,...,...,...
2024-04-21,pangolin_lineage_crumbs:*;BA.2.86.1;*,20,0,79.857143,0.000000,0.000000,6.118762e-06,0.030816
2024-04-22,pangolin_lineage_crumbs:*;BA.2.86.1;*,46,0,56.285714,0.000000,0.000000,8.729379e-06,0.043673
2024-04-23,pangolin_lineage_crumbs:*;BA.2.86.1;*,24,0,44.285714,0.000000,0.000000,1.109659e-05,0.055184
2024-04-24,pangolin_lineage_crumbs:*;BA.2.86.1;*,14,0,29.857143,0.000000,0.000000,1.623186e-05,0.079678
2024-04-29,pangolin_lineage_crumbs:*;BA.2.86.1;*,1,0,13.000000,0.000000,0.000000,3.705193e-05,0.172619

In [15]:
outbreak_data.lineage_cl_prevalence('BA.2.86.1', descendants=True, datemin='2023-06-01', datemax='2024-01-01')

GET https://api.outbreak.info/genomics/prevalence-by-location?lineages=None&q=pangolin_lineage_crumbs:*;BA.2.86.1;*&cumulative=false&min_date=2023-06-01&max_date=2024-01-01

,,total_count,lineage_count,total_count_rolling,lineage_count_rolling,proportion,proportion_ci_lower,proportion_ci_upper
date,query,,,,,,,
2023-08-17,pangolin_lineage_crumbs:*;BA.2.86.1;*,2667,1,2472.571429,0.142857,0.000058,1.985382e-07,0.001015
2023-08-18,pangolin_lineage_crumbs:*;BA.2.86.1;*,2485,0,2523.428571,0.142857,0.000057,1.946040e-07,0.000995
2023-08-19,pangolin_lineage_crumbs:*;BA.2.86.1;*,1569,0,2515.000000,0.142857,0.000057,1.952229e-07,0.000998
2023-08-20,pangolin_lineage_crumbs:*;BA.2.86.1;*,1481,1,2508.285714,0.285714,0.000114,1.957678e-07,0.001001
2023-08-21,pangolin_lineage_crumbs:*;BA.2.86.1;*,4739,0,2655.285714,0.285714,0.000108,1.849297e-07,0.000946
...,...,...,...,...,...,...,...,...
2023-12-28,pangolin_lineage_crumbs:*;BA.2.86.1;*,3286,96,2512.428571,83.714286,0.033320,2.693715e-02,0.041016
2023-12-29,pangolin_lineage_crumbs:*;BA.2.86.1;*,2772,69,2569.000000,83.142857,0.032364,2.598833e-02,0.039681
2023-12-30,pangolin_lineage_crumbs:*;BA.2.86.1;*,1727,37,2583.714286,80.857143,0.031295,2.514336e-02,0.038599
2023-12-31,pangolin_lineage_crumbs:*;BA.2.86.1;*,1559,49,2616.714286,81.142857,0.031009,2.482534e-02,0.038114
2024-01-01,pangolin_lineage_crumbs:*;BA.2.86.1;*,2139,76,2631.714286,77.857143,0.029584,2.366404e-02,0.036640

In [16]:
outbreak_data.lineage_cl_prevalence(['BA.2.86.1', 'XBB.1.5'], cumulative=True)

GET https://api.outbreak.info/genomics/prevalence-by-location?pangolin_lineage=BA.2.86.1,XBB.1.5&cumulative=true

                    BA.2.86.1     XBB.1.5
global_prevalence    0.008803    0.050271
total_count           1225763     3788551
lineage_count           10791      190455
first_detected     2023-01-17  2022-06-12
last_detected      2024-04-10  2024-01-14

In [17]:
outbreak_data.lineage_by_sub_admin(['BA.1', 'BA.2'], location='USA')

GET https://api.outbreak.info/genomics/lineage-by-sub-admin-most-recent?pangolin_lineage=BA.1,BA.2&location_id=USA&ndays=180&detected=false

,,date,id,total_count,lineage_count,cum_total_count,cum_lineage_count,proportion,proportion_ci_lower,proportion_ci_upper
name,query,,,,,,,,,
,BA.2,2024-02-15,USA_US-None,1,0,256,2,0.007812,1.626912e-03,0.024824
Alabama,BA.2,2024-04-01,USA_US-AL,1,0,40,0,0.000000,1.219931e-05,0.060498
Alaska,BA.2,2024-02-27,USA_US-AK,1,0,30,0,0.000000,1.623186e-05,0.079678
American Samoa,BA.2,2024-01-17,USA_US-ASM,1,0,19,0,0.000000,2.550581e-05,0.122309
Arizona,BA.2,2024-04-01,USA_US-AZ,1,0,1451,1,0.000689,7.437093e-05,0.003217
...,...,...,...,...,...,...,...,...,...,...
Virginia,BA.1,2024-04-22,USA_US-VA,4,0,2988,0,0.000000,1.643218e-07,0.000840
Washington,BA.1,2024-04-17,USA_US-WA,2,0,1240,0,0.000000,3.959157e-07,0.002023
West Virginia,BA.1,2024-04-04,USA_US-WV,1,0,271,0,0.000000,1.810263e-06,0.009218
Wisconsin,BA.1,2024-04-08,USA_US-WI,1,0,1930,0,0.000000,2.543891e-07,0.001301
Wyoming,BA.1,2024-04-01,USA_US-WY,1,0,69,0,0.000000,7.090680e-06,0.035623

In [18]:
outbreak_data.all_lineage_prevalences('USA_US-HI')

GET https://api.outbreak.info/genomics/prevalence-by-location-all-lineages?location_id=USA_US-HI&ndays=180&nday_threshold=10&other_threshold=0.05&cumulative=false

                    total_count  lineage_count  prevalence  prevalence_rolling
date       lineage
2023-08-05 HV.1              17              1    0.058824            0.054264
2023-08-06 HV.1               0              0    0.000000            0.026022
2023-08-07 HV.1               0              0    0.000000            0.015317
2023-08-08 HV.1              18              1    0.055556            0.023569
2023-08-09 HV.1               0              0    0.000000            0.020619
...                         ...            ...         ...                 ...
2024-04-04 OTHER              1              1    1.000000            1.000000
2024-04-05 OTHER              0              0    0.000000            1.000000
2024-04-06 OTHER              0              0    0.000000            1.000000
2024-04-07 OTHER              1              1    1.000000            1.000000
2024-04-08 OTHER              1              1    1.000000            1.000000

[2268 rows x 4 columns]

In [19]:
outbreak_data.all_lineage_prevalences(cumulative=True)

GET https://api.outbreak.info/genomics/prevalence-by-location-all-lineages?ndays=180&nday_threshold=10&other_threshold=0.05&cumulative=true

          total_count  lineage_count  prevalence
lineage
EG.5.1.1     15260523          44990    0.002948
HK.3         15260523          16409    0.001075
HV.1         15260523          36769    0.002409
JN.1         15260523         111786    0.007325
JN.1.1       15260523          14954    0.000980
JN.1.4       15260523          16055    0.001052
JN.1.7       15260523           3684    0.000241
KP.2         15260523            724    0.000047
KP.3         15260523            357    0.000023
OTHER        15260523       15014795    0.983898

In [20]:
outbreak_data.growth_rates(['XBB.1.5', 'BA.2.86'], ['Global', 'USA'])

GET https://api.outbreak.info/growth_rate/query?q=lineage:(XBB.1.5 OR BA.2.86) AND location:(Global OR USA)

                                  G_7  G_7_linear  N_7  N_prev_7  \
location lineage date
Global   XBB.1.5 2023-12-15 -0.034397   -3.381177  1.0       1.0
                 2023-12-16 -0.023214   -2.294645  1.0       1.0
                 2023-12-17 -0.006578   -0.655626  0.0       2.0
                 2023-12-18 -0.000936   -0.093580  0.0       2.0
                 2023-12-19 -0.005278   -0.526397  0.0       2.0
...                               ...         ...  ...       ...
         BA.2.86 2024-03-05  0.060997    6.289570  1.0       2.0
                 2024-03-06  0.070679    7.323630  2.0       2.0
                 2024-03-07  0.079888    8.316545  2.0       2.0
                 2024-03-08  0.085289    8.903196  2.0       1.0
                 2024-03-09  0.106708   11.260881  1.0       2.0

                             Prevalence_7  Prevalence_7_percentage  \
location lineage date
Global   XBB.1.5 2023-12-15      0.000419                 0.041850
                 2023-12-16      0.000430                 0.042993
                 2023-12-17      0.000443                 0.044277
                 2023-12-18      0.000457                 0.045710
                 2023-12-19      0.000440                 0.044003
...                                   ...                      ...
         BA.2.86 2024-03-05      0.003404                 0.340404
                 2024-03-06      0.003768                 0.376813
                 2024-03-07      0.004158                 0.415840
                 2024-03-08      0.004653                 0.465337
                 2024-03-09      0.005618                 0.561769

                             confidenceInterval20  confidenceInterval35  \
location lineage date
Global   XBB.1.5 2023-12-15              0.944850              1.700730
                 2023-12-16              0.948394              1.707109
                 2023-12-17              0.972548              1.750586
                 2023-12-18              0.980957              1.765722
                 2023-12-19              1.007301              1.813142
...                                           ...                   ...
         BA.2.86 2024-03-05              1.160786              2.089415
                 2024-03-06              1.179633              2.123339
                 2024-03-07              1.211414              2.180545
                 2024-03-08              1.212239              2.182031
                 2024-03-09              1.232565              2.218617

                             confidenceInterval5  confidenceInterval50  ...  \
location lineage date                                                   ...
Global   XBB.1.5 2023-12-15             0.226764              2.532199  ...
                 2023-12-16             0.227614              2.541695  ...
                 2023-12-17             0.233412              2.606429  ...
                 2023-12-18             0.235430              2.628964  ...
                 2023-12-19             0.241752              2.699567  ...
...                                          ...                   ...  ...
         BA.2.86 2024-03-05             0.278589              3.110907  ...
                 2024-03-06             0.283112              3.161417  ...
                 2024-03-07             0.290739              3.246590  ...
                 2024-03-08             0.290937              3.248801  ...
                 2024-03-09             0.295816              3.303274  ...

                             confidenceInterval80  confidenceInterval95  \
location lineage date
Global   XBB.1.5 2023-12-15              4.837633              7.407626
                 2023-12-16              4.855775              7.435406
                 2023-12-17              4.979446              7.624776
                 2023-12-18              5.022498              7.690700
                 2023-12-19              5.157381              7.897240
...                                           ...                   ...
         BA.2.86 2024-03-05              5.943225              9.100563
                 2024-03-06              6.039721              9.248323
                 2024-03-07              6.202440              9.497487
                 2024-03-08              6.206665              9.503956
                 2024-03-09              6.310733              9.663310

                             deltaG_7  deltaG_7_linear  deltaN_7  \
location lineage date
Global   XBB.1.5 2023-12-15  0.039117         3.779401   12838.0
                 2023-12-16  0.038827         3.793574   10927.0
                 2023-12-17  0.039159         3.890192    9016.0
                 2023-12-18  0.039275         3.923826    9016.0
                 2023-12-19  0.040505         4.029204    9016.0
...                               ...              ...       ...
         BA.2.86 2024-03-05  0.043684         4.643144     596.0
                 2024-03-06  0.043965         4.718532     475.0
                 2024-03-07  0.044736         4.845656     338.0
                 2024-03-08  0.044525         4.848957     201.0
                 2024-03-09  0.044313         4.930260      64.0

                             deltaN_prev_7  deltaPrevalence_7  \
location lineage date
Global   XBB.1.5 2023-12-15       1.576152           0.639198
                 2023-12-16       1.576152           0.637404
                 2023-12-17       1.576152           0.636483
                 2023-12-18       1.626308           0.636681
                 2023-12-19       1.576835           0.675330
...                                    ...                ...
         BA.2.86 2024-03-05       1.585607           0.713263
                 2024-03-06       1.585607           0.725188
                 2024-03-07       1.585607           0.751723
                 2024-03-08       1.637042           0.770357
                 2024-03-09       1.593491           0.757207

                             deltaPrevalence_7_percentage  invDeltaG_7  \
location lineage date
Global   XBB.1.5 2023-12-15                     63.919838    25.564586
                 2023-12-16                     63.740442    25.755486
                 2023-12-17                     63.648273    25.537139
                 2023-12-18                     63.668115    25.461479
                 2023-12-19                     67.532994    24.688151
...                                                   ...          ...
         BA.2.86 2024-03-05                     71.326278    22.891723
                 2024-03-06                     72.518764    22.745131
                 2024-03-07                     75.172288    22.353328
                 2024-03-08                     77.035658    22.459096
                 2024-03-09                     75.720733    22.566938

                                  snr
location lineage date
Global   XBB.1.5 2023-12-15  0.894633
                 2023-12-16  0.604877
                 2023-12-17  0.168533
                 2023-12-18  0.023849
                 2023-12-19  0.130645
...                               ...
         BA.2.86 2024-03-05  1.354593
                 2024-03-06  1.552099
                 2024-03-07  1.716289
                 2024-03-08  1.836105
                 2024-03-09  2.284034

[180 rows x 21 columns]

In [8]:
outbreak_data.get_wastewater_latest(region="Ohio", server='dev.outbreak.info')

GET https://dev.outbreak.info/wastewater_metadata/query?size=1&sort=-collection_date&fields=collection_date&q=geo_loc_region:Ohio AND demix_success:true AND variants_success:true

'2023-10-01'

In [21]:
outbreak_data.gr_significance(['USA', 'Global'])

GET https://api.outbreak.info/significance/query?q=loc:(USA OR Global) AND growing:true&sort=-sig&size=5

,_id,_score,growing,leaf,loc,sig,snr
lin,,,,,,,
JN.1.1,Global_JN.1.1,None,true,true,Global,170.5345544056284,12.915667590790331
JN.1.4,Global_JN.1.4,None,true,true,Global,148.67142485884114,12.041819797365195
JN.1.22,Global_JN.1.22,None,true,true,Global,125.34771448608038,11.034042953153367
JN.1.4,USA_JN.1.4,None,true,true,USA,120.88205254625446,10.830472959271914
JN.1,USA_JN.1,None,true,true,USA,119.4029616746656,10.762205008012497

In [24]:
#Retrieve sample data from 2023-06-01 to the last date for wastewater data collection in Ohio.
last_ww_date = outbreak_data.get_wastewater_latest(region="Ohio", server='dev.outbreak.info')
d = outbreak_data.get_wastewater_samples(collection_site_id="USA_OH_5f9e5487", viral_load_at_least=25000, date_range=["2023-09-01", last_ww_date], server='dev.outbreak.info')
print(d)

GET https://dev.outbreak.info/wastewater_metadata/query?size=1&sort=-collection_date&fields=collection_date&q=geo_loc_region:Ohio AND demix_success:true AND variants_success:true
GET https://dev.outbreak.info/wastewater_metadata/query?q=collection_site_id:USA_OH_5f9e5487 AND collection_date:[2023-09-01 TO 2023-10-01] AND viral_load:>=25000 AND demix_success:true AND variants_success:true&fetch_all=true
GET https://dev.outbreak.info/wastewater_metadata/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAAB-V6hZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=true&page=0&fetch_all=true
                collection_site_id  \
collection_date
2023-09-06         USA_OH_5f9e5487
2023-09-25         USA_OH_5f9e5487
2023-09-18         USA_OH_5f9e5487

                                                coverage_intervals  \
collection_date
2023-09-06       [[34, 2243], [2491, 2877], [3083, 3485], [4625...
2023-09-25       [[970, 1333], [1566, 1921], [2184, 2540], [310...
2023-09-18       [[670, 1013], [1566, 1921], [2512, 3765], [402...

                 demix_success geo_loc_country geo_loc_region sra_accession  \
collection_date
2023-09-06                True             USA           Ohio   SRR26133858
2023-09-25                True             USA           Ohio   SRR26549478
2023-09-18                True             USA           Ohio   SRR26549479

                 variants_success  viral_load  ww_population  \
collection_date
2023-09-06                   True     98147.5         226729
2023-09-25                   True     51116.0         226729
2023-09-18                   True     40253.0         226729

                 normed_viral_load
collection_date
2023-09-06                3.189438
2023-09-25                1.661085
2023-09-18                1.308077

In [19]:
print(outbreak_data.get_wastewater_samples(collection_site_id="USA_OH_5f9e5487", viral_load_at_least=25000, server='dev.outbreak.info'))

GET https://dev.outbreak.info/wastewater_metadata/query?q=collection_site_id:USA_OH_5f9e5487 AND viral_load:>=25000 AND demix_success:true AND variants_success:true&fetch_all=true
GET https://dev.outbreak.info/wastewater_metadata/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAAB-V4xZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=true&page=0&fetch_all=true
                collection_site_id  \
collection_date
2023-08-21         USA_OH_5f9e5487
2023-03-13         USA_OH_5f9e5487
2023-03-06         USA_OH_5f9e5487
2023-03-20         USA_OH_5f9e5487
2023-09-06         USA_OH_5f9e5487
2023-02-06         USA_OH_5f9e5487
2023-01-23         USA_OH_5f9e5487
2023-02-27         USA_OH_5f9e5487
2023-02-22         USA_OH_5f9e5487
2022-10-31         USA_OH_5f9e5487
2022-10-17         USA_OH_5f9e5487
2022-10-10         USA_OH_5f9e5487
2022-10-03         USA_OH_5f9e5487
2022-06-27         USA_OH_5f9e5487
2023-08-07         USA_OH_5f9e5487
2023-05-22         USA_OH_5f9e5487
2023-05-08         USA_OH_5f9e5487
2023-06-12         USA_OH_5f9e5487
2023-04-24         USA_OH_5f9e5487
2022-10-24         USA_OH_5f9e5487
2022-12-19         USA_OH_5f9e5487
2022-12-12         USA_OH_5f9e5487
2022-12-05         USA_OH_5f9e5487
2022-11-28         USA_OH_5f9e5487
2022-11-21         USA_OH_5f9e5487
2022-11-14         USA_OH_5f9e5487
2022-11-07         USA_OH_5f9e5487
2022-07-20         USA_OH_5f9e5487
2023-08-28         USA_OH_5f9e5487
2023-03-27         USA_OH_5f9e5487
2023-09-25         USA_OH_5f9e5487
2023-09-18         USA_OH_5f9e5487
2022-12-28         USA_OH_5f9e5487
2022-12-26         USA_OH_5f9e5487
2023-02-13         USA_OH_5f9e5487
2023-01-04         USA_OH_5f9e5487
2023-04-17         USA_OH_5f9e5487

                                                coverage_intervals  \
collection_date
2023-08-21       [[54, 377], [378, 381], [382, 388], [670, 1013...
2023-03-13       [[54, 404], [670, 2224], [2512, 2857], [3106, ...
2023-03-06       [[1270, 1619], [1879, 2224], [2512, 2857], [31...
2023-03-20       [[348, 1333], [1566, 1921], [2854, 3466], [740...
2023-09-06       [[34, 2243], [2491, 2877], [3083, 3485], [4625...
2023-02-06       [[348, 701], [970, 1333], [1566, 1921], [2184,...
2023-01-23       [[670, 1013], [5263, 5616], [5898, 6389], [639...
2023-02-27       [[348, 4383], [4652, 5298], [5588, 6331], [633...
2023-02-22       [[348, 4383], [4652, 4991], [5263, 5616], [621...
2022-10-31       [[1879, 2224], [2512, 2857], [3106, 3466], [58...
2022-10-17       [[348, 701], [1270, 1921], [3709, 4063], [4652...
2022-10-10       [[970, 1333], [1424, 1429], [1455, 1460], [146...
2022-10-03       [[348, 701], [970, 1333], [1879, 2540], [4957,...
2022-06-27       [[54, 4383], [4652, 15332], [15561, 20063], [2...
2023-08-07       [[4652, 4991], [16718, 17078], [18271, 18620],...
2023-05-22       [[12550, 12891], [19212, 19873], [20409, 20762...
2023-05-08       [[670, 1013], [1270, 1619], [1879, 2224], [251...
2023-06-12       [[970, 1333], [1566, 1921], [5588, 5928], [621...
2023-04-24       [[348, 701], [970, 1333], [3106, 3466], [4957,...
2022-10-24       [[3106, 3466], [4957, 5298], [5898, 6243], [66...
2022-12-19       [[54, 4383], [4439, 4630], [4652, 6243], [6674...
2022-12-12       [[74, 80], [81, 1013], [2202, 2268], [2269, 22...
2022-12-05       [[348, 1619], [2197, 2202], [2203, 2204], [220...
2022-11-28       [[54, 4383], [4652, 5928], [6214, 6549], [6780...
2022-11-21       [[138, 140], [141, 142], [143, 146], [149, 152...
2022-11-14       [[54, 2224], [2512, 4383], [4652, 6530], [6838...
2022-11-07       [[54, 1333], [1566, 2224], [2368, 2379], [2380...
2022-07-20       [[348, 2237], [2238, 2270], [2271, 2279], [229...
2023-08-28       [[670, 1333], [2854, 3466], [9501, 10146], [10...
2023-03-27       [[670, 1013], [1270, 1619], [1879, 2224], [251...
2023-09-25       [[970, 1333], [1566, 1921], [2184, 2540], [310...
2023-09-18       [[670, 1013], [1566, 1921], [2512, 3765], [402...
2022-12-28       [[348, 4383], [4652, 6549], [6620, 6625], [662...
2022-12-26       [[348, 701], [970, 4383], [4652, 6549], [6617,...
2023-02-13       [[348, 2857], [3106, 3466], [3709, 4063], [495...
2023-01-04       [[348, 701], [970, 1333], [1566, 1921], [3106,...
2023-04-17       [[54, 404], [670, 1013], [1270, 1619], [12860,...

                 demix_success geo_loc_country geo_loc_region sra_accession  \
collection_date
2023-08-21                True             USA           Ohio   SRR25833262
2023-03-13                True             USA           Ohio   SRR24063051
2023-03-06                True             USA           Ohio   SRR24063052
2023-03-20                True             USA           Ohio   SRR24093827
2023-09-06                True             USA           Ohio   SRR26133858
2023-02-06                True             USA           Ohio   SRR24057386
2023-01-23                True             USA           Ohio   SRR24057387
2023-02-27                True             USA           Ohio   SRR24063053
2023-02-22                True             USA           Ohio   SRR24063054
2022-10-31                True             USA           Ohio   SRR24054714
2022-10-17                True             USA           Ohio   SRR24054716
2022-10-10                True             USA           Ohio   SRR24054717
2022-10-03                True             USA           Ohio   SRR24054718
2022-06-27                True             USA           Ohio   SRR24040790
2023-08-07                True             USA           Ohio   SRR25757732
2023-05-22                True             USA           Ohio   SRR24900752
2023-05-08                True             USA           Ohio   SRR24900753
2023-06-12                True             USA           Ohio   SRR25109057
2023-04-24                True             USA           Ohio   SRR24529558
2022-10-24                True             USA           Ohio   SRR24054715
2022-12-19                True             USA           Ohio   SRR24057378
2022-12-12                True             USA           Ohio   SRR24057379
2022-12-05                True             USA           Ohio   SRR24057380
2022-11-28                True             USA           Ohio   SRR24057381
2022-11-21                True             USA           Ohio   SRR24057382
2022-11-14                True             USA           Ohio   SRR24057383
2022-11-07                True             USA           Ohio   SRR24057384
2022-07-20                True             USA           Ohio   SRR24054406
2023-08-28                True             USA           Ohio   SRR25939637
2023-03-27                True             USA           Ohio   SRR24148627
2023-09-25                True             USA           Ohio   SRR26549478
2023-09-18                True             USA           Ohio   SRR26549479
2022-12-28                True             USA           Ohio   SRR24057376
2022-12-26                True             USA           Ohio   SRR24057377
2023-02-13                True             USA           Ohio   SRR24057385
2023-01-04                True             USA           Ohio   SRR24057389
2023-04-17                True             USA           Ohio   SRR24335713

                 variants_success    viral_load  ww_population  \
collection_date
2023-08-21                   True   29810.50000         226729
2023-03-13                   True   57432.00000         226729
2023-03-06                   True   25600.00000         226729
2023-03-20                   True   39242.00000         226729
2023-09-06                   True   98147.50000         226729
2023-02-06                   True   76968.50000         226729
2023-01-23                   True   68674.00000         226729
2023-02-27                   True   84000.00000         226729
2023-02-22                   True   67874.00000         226729
2022-10-31                   True   61979.00000         226729
2022-10-17                   True   80211.00000         226729
2022-10-10                   True   67284.00000         226729
2022-10-03                   True   36421.00000         226729
2022-06-27                   True   27651.00000         226729
2023-08-07                   True   27873.50000         226729
2023-05-22                   True   27326.50000         226729
2023-05-08                   True   26947.50000         226729
2023-06-12                   True   25684.00000         226729
2023-04-24                   True   26778.94737         226729
2022-10-24                   True   61853.00000         226729
2022-12-19                   True  174063.00000         226729
2022-12-12                   True  128126.50000         226729
2022-12-05                   True  194274.00000         226729
2022-11-28                   True  197052.50000         226729
2022-11-21                   True  302526.50000         226729
2022-11-14                   True   76210.50000         226729
2022-11-07                   True   84505.50000         226729
2022-07-20                   True   34773.50000         226729
2023-08-28                   True   26947.50000         226729
2023-03-27                   True   29221.00000         226729
2023-09-25                   True   51116.00000         226729
2023-09-18                   True   40253.00000         226729
2022-12-28                   True  248631.50000         226729
2022-12-26                   True  318610.50000         226729
2023-02-13                   True   75915.50000         226729
2023-01-04                   True  176210.50000         226729
2023-04-17                   True   27326.00000         226729

                 normed_viral_load
collection_date
2023-08-21                0.380500
2023-03-13                0.733061
2023-03-06                0.326758
2023-03-20                0.500884
2023-09-06                1.252752
2023-02-06                0.982424
2023-01-23                0.876553
2023-02-27                1.072174
2023-02-22                0.866342
2022-10-31                0.791098
2022-10-17                1.023811
2022-10-10                0.858811
2022-10-03                0.464877
2022-06-27                0.352937
2023-08-07                0.355777
2023-05-22                0.348795
2023-05-08                0.343957
2023-06-12                0.327830
2023-04-24                0.341806
2022-10-24                0.789490
2022-12-19                2.221736
2022-12-12                1.635403
2022-12-05                2.479708
2022-11-28                2.515173
2022-11-21                3.861440
2022-11-14                0.972749
2022-11-07                1.078626
2022-07-20                0.443848
2023-08-28                0.343957
2023-03-27                0.372976
2023-09-25                0.652443
2023-09-18                0.513788
2022-12-28                3.173526
2022-12-26                4.066736
2023-02-13                0.968983
2023-01-04                2.249146
2023-04-17                0.348788

In [39]:
s = outbreak_data.get_wastewater_samples_by_lineage('EG.5.1', server='dev.outbreak.info') #Dud endpoints?
s = outbreak_data.get_wastewater_metadata(s, server='dev.outbreak.info')
outbreak_data.get_wastewater_mutations(s, server='dev.outbreak.info')

GET https://dev.outbreak.info/wastewater_demix/query?q=prevalence:>=0.01 AND name:EG.5.1&fetch_all=true
GET https://dev.outbreak.info/wastewater_demix/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAAB_bmhZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=true&page=0&fetch_all=true
GET https://dev.outbreak.info/wastewater_demix/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAAB_bmhZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=true&page=1&fetch_all=true

,coverage,crumbs,name,prevalence,spike_coverage,sra_accession
EG.5.1,0.100324,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.075489,0.000000,SRR23385909
EG.5.1,0.110357,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.055766,0.000000,SRR23385985
EG.5.1,0.100324,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.240929,0.000000,SRR23385941
EG.5.1,0.110357,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.143744,0.000000,SRR23385960
EG.5.1,0.100324,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.160608,0.000000,SRR23385975
...,...,...,...,...,...,...
EG.5.1,39.073003,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.034584,32.548404,SRR26806450
EG.5.1,84.362773,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.195795,88.749346,SRR27209573
EG.5.1,65.244290,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.095730,52.590267,SRR27209596
EG.5.1,93.278266,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.012293,95.054945,SRR27209392
EG.5.1,83.439789,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,0.021526,73.547881,SRR25503704

In [43]:
samples = outbreak_data.get_wastewater_samples_by_mutation(site=1003, alt_base='G', server='dev.outbreak.info')
samples.shape

GET https://dev.outbreak.info/wastewater_variants/query?q=prevalence:>=0.01 AND site:1003 AND alt_base:G&fetch_all=true
GET https://dev.outbreak.info/wastewater_variants/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAAB_byhZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=true&page=0&fetch_all=true

(45, 6)

In [41]:
print(outbreak_data.get_wastewater_lineages(s, server='dev.outbreak.info'))

POST https://dev.outbreak.info/wastewater_demix/query/?size=1000
                             alt_base  depth  prevalence_x ref_base  site  \
mutation            lineage
1003 AND alt_base:G CK.1.1.1        G     51      0.038088        A  1003
                    CL.1.3          G     51      0.038088        A  1003
                    DV.1.1          G     51      0.038088        A  1003
                    HW.1            G     51      0.038088        A  1003
                    XBJ.4           G     51      0.038088        A  1003
...                               ...    ...           ...      ...   ...
                    JR.1.1.1        G     23      0.273810        A  1003
                    JY.1.1          G     23      0.273810        A  1003
                    KE.3            G     23      0.273810        A  1003
                    KT.1.1          G     23      0.273810        A  1003
                    XBB.1.24        G     23      0.273810        A  1003

                             sra_accession        query   coverage  \
mutation            lineage
1003 AND alt_base:G CK.1.1.1   SRR21864715  SRR21864715  97.555429
                    CL.1.3     SRR21864715  SRR21864715  97.555429
                    DV.1.1     SRR21864715  SRR21864715  97.555429
                    HW.1       SRR21864715  SRR21864715  97.555429
                    XBJ.4      SRR21864715  SRR21864715  97.555429
...                                    ...          ...        ...
                    JR.1.1.1   SRR25022780  SRR25022780   9.848510
                    JY.1.1     SRR25022780  SRR25022780   9.848510
                    KE.3       SRR25022780  SRR25022780   9.848510
                    KT.1.1     SRR25022780  SRR25022780   9.848510
                    XBB.1.24   SRR25022780  SRR25022780   9.848510

                                                                         crumbs  \
mutation            lineage
1003 AND alt_base:G CK.1.1.1  ;B;B.1;B.1.1;B.1.1.529;B.1.1.529.5;B.1.1.529.5...
                    CL.1.3    ;B;B.1;B.1.1;B.1.1.529;B.1.1.529.5;B.1.1.529.5...
                    DV.1.1    ;B;B.1;B.1.1;B.1.1.529;B.1.1.529.2;B.1.1.529.2...
                    HW.1      ;XBC;XBC.1;XBC.1.6;XBC.1.6.3;XBC.1.6.3.1;HW;HW.1;
                    XBJ.4                                           ;XBJ;XBJ.4;
...                                                                         ...
                    JR.1.1.1  ;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...
                    JY.1.1    ;XBB;XBB.2;XBB.2.3;XBB.2.3.19;XBB.2.3.19.1;XBB...
                    KE.3      ;XBB;XBB.1;XBB.1.19;XBB.1.19.1;XBB.1.19.1.5;XB...
                    KT.1.1    ;XBB;XBB.2;XBB.2.3;XBB.2.3.10;XBB.2.3.10.1;XBB...
                    XBB.1.24                               ;XBB;XBB.1;XBB.1.24;

                              prevalence_y  spike_coverage
mutation            lineage
1003 AND alt_base:G CK.1.1.1      0.000530       98.874935
                    CL.1.3        0.000550       98.874935
                    DV.1.1        0.000106       98.874935
                    HW.1          0.000220       98.874935
                    XBJ.4         0.000288       98.874935
...                                    ...             ...
                    JR.1.1.1      0.131121        3.218210
                    JY.1.1        0.100538        3.218210
                    KE.3          0.008403        3.218210
                    KT.1.1        0.238095        3.218210
                    XBB.1.24      0.018568        3.218210

[6085 rows x 11 columns]